# Virtual enviroment
.venv/
.env/

# Building results
dist/
*.egg-info

# Caches
*.pyc
.coverage
coverage.xml
.pytest_cache/

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Spyder
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim
*.swp
*.swo
*.save

